.p-cards {
    display:flex;
    flex-wrap:wrap;
    row-gap:30px;
    gap:30px;
}

.card {
    height: 250px;
    width: 180px;
    background: rgb(172, 172, 172);
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: rgb(46, 46, 46);
    transition: transform linear 0.4s, opacity linear 0.4s;
    cursor: pointer;
    opacity: 0.6;
    position: relative;
}

.card:hover {
    transform: scale(1.1);
    background-image: url(/cards-suits/photo-1558591710-4b4a1ae0f04d.jpeg);
    opacity: 1;
}

.club > h1 {
    position: absolute;
    top: -15px;
    left: 20px;
}

.club > h2 {
    position: absolute;
    top: 200px;
    left: 150px;
}

.diamond > h1 {
    position: absolute;
    top: -15px;
    left: 20px;
}

.diamond > h2 {
    position: absolute;
    top: 200px;
    left: 150px;
}

.heart > h1 {
    position: absolute;
    top: -15px;
    left: 20px;
}

.heart > h2 {
    position: absolute;
    top: 200px;
    left: 150px;
}

.spade > h1 {
    position: absolute;
    top: -15px;
    left: 20px;
}

.spade > h2 {
    position: absolute;
    top: 200px;
    left: 150px;
}
